@import "mixins/common.scss";

html {
    position: fixed;
    width: 100%;
} 

.tm-edit {
    .row {
        padding: 1px 0;
        margin: 0;
    }
    section {
        padding: 0;
    }
    .box-time {
        margin-top: 6px;
    }
    .box-time span {
        margin-top: 7px;
    }
}

.m-show-tab {
    display: none !important;
}

.text-center {
    text-align: center;
}

.error-message {
    padding: 10px 0 0 5px;
}

.error-message.simple {
    padding-left: 35px !important;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.hide-false {
    display: none !important;
}

.hide-true {
    display: inline !important;
}

.uppercase {
    text-transform: uppercase;
}

.width100 {
    width: 100%;
}

.translate-cloak {
    visibility: hidden;
}

.resize-triggers {
    visibility: hidden;
}

.panel {
    @include box-shadow(none);
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-border-bottom {
    border-bottom: none !important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-top{
    margin-top: 0;
}

.perfect-scroll {
    overflow: hidden;
    position: relative;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.resize-triggers>div {
    background: #eee;
    overflow: auto;
}

.ui-resizable-s,
.ui-resizable-n {
    height: 12px;
}

.ui-resizable-w,
.ui-resizable-e {
    width: 12px;
}

.contract-trigger:before {
    width: 200%;
    height: 200%;
}

.modal-backdrop {
    z-index: 9000;
}

.modal,
.modal-content {
    z-index: 9999;
}

.modal-backdrop.in {
    opacity: 0 !important;
}

[uib-modal-backdrop].modal-backdrop.in {
    opacity: 0.5 !important;
}

.modal-backdrop.fade.in {
    opacity: 0.5 !important;
}

.open>.dropdown-menu {
    @include transition(0.2s linear 0.8s);
    z-index: 1002;
}

.fa-chevron-down {
    color: #FEA139;
    margin-left: 3px;
}

.dropdown-header {
    cursor: pointer;
}
/* Custom font assome*/

.fa-lg {
    font-size: 1.81em;
}
/*Default CSS*/

html {
    height: 100%;
}

h1 {
    color: #30439b;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

body {
    background-color: #fff;
    color: #444;
    font-family: 'Muli', 'Nunito', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: none;
    @include font-smoothing();
    overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', 'Nunito', sans-serif;
    @include font-smoothing();
    -webkit-text-stroke-width: 0.19px;
    -webkit-text-stroke-color: #1e1e1e;
}

h5,
.h5 {
    font-size: 14px;
    overflow: hidden;
}

input {
    font-family: 'Muli', 'Nunito', sans-serif;
    font-size: 17px;
    @include font-smoothing();
}

li {
    line-height: 20px;
    list-style-type: none;
}

a {
    color: #f93;
    cursor: pointer;
}

.content-margin-top {
    margin-top: 38px;
}

.btn-helptext {
    margin: 0 0 15px 20px;
    font-weight: bold;
}

.btn-helptext a {
    color: white;
}

.panel-primary {
    border-color: #444 !important;
}

.panel-primary>.panel-heading {
    background-color: #444;
    border-color: #444;
}

.icon-menu:hover {
    background-color: inherit !important;
}

.icon-menu:focus {
    background-color: inherit !important;
}

.btn-primary {
    background-color: #ff9933;
    font-family: 'Muli', 'Nunito', sans-serif;
    @include font-smoothing();
    border-color: #b96c20;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ff8000;
    border-color: #b96c20;
    text-decoration: none;
}

@media (max-width: 767px) {
    .btn {
        @include border-radius(30px);
        padding: 10px 15px;
        margin: 10px 0;
        font-size: 16px;
    }
}
/*Loading widget*/

.loadingContent {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
}

#loadingWidget {
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 9999;
    background: #000;
    opacity: 0.4;
}

/*full screen*/

.btn-general,
.btn-primary {
    font-size: 14px;
    color: white;
    background-color: #ff9933;
    padding: 2px 15px;
    @include border-radius(10px);
    border: 1px solid #c7c7c7;
}

.btn-default {
    color: #f93;
    &:hover {
        color: #000 !important;
        text-decoration: none;
    }
    &.active {
        color: #444 !important;
    }
    &.active-btn {
        color: #444 !important;
        background: #ebebeb !important;
    }
}

.btn-general:hover,
.btn-general-large:hover,
.btn-primary:hover {
    background-color: #ff8000;
    border-color: #b96c20;
    text-decoration: none;
}

.btn-general[disabled],
.btn-general[disabled]:hover,
.btn-general[disabled]:active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active {
    background-color: #b0b0b0 !important;
    border-color: #b0b0b0 !important;
}

.btn-general-large {
    padding: 5px 40px;
}

.green {
    color: green;
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

textarea {
    @include resize(vertical);
}

.control-row {
    background: #fff;
    border: 1px solid #c7c7c7;
    margin: 5px 0;
    padding: 5px;
}

.scroller {
    overflow: hidden;
    position: relative;
}

body textarea {
    border: 2px solid #ccc;
    padding: 10px;
    vertical-align: top;
}

.hover-icon {
    cursor: pointer;
    @include opacity(0.4);
    @include transition(opacity 0.4s);
    &.disabled {
        @include opacity(0.4!important);
    }
    &.hover-icon:hover {
        @include opacity(1!important);
    }
    &.active {
        opacity: 1;
    }
}

.cursor-default {
    cursor: default!important;
}

.icon-move-data-series {
    float: left;
    cursor: move;
    margin: 0 8px 0 -3px;
}

.popover-header {
    position: relative;
    height: 15px;
    span {
        position: absolute;
        right: -5px;
        cursor: pointer;
    }
}

.popover-content {
    padding: 9px 5px 7px 5px;
}

a:hover {
    color: #ff9933;
}

.export-list {
    li {
        font-size: 14px;
        padding: 4px 10px 0 10px;
        cursor: pointer;
        &:hover {
            background: #f1f1f1;
        }
        &.exporting-label:hover {
            background: #fff;
        }
    }
}

.export-section {
    position: absolute;
    right: -30px;
    top: 33px;
    color: #000;
    .dropdown-menu li a {
        padding: 0 !important;
        cursor: pointer;
        color: #000 !important;
        text-decoration: none;
    }
    .dropdown-toggle {
        -webkit-box-shadow: none !important;
        -ms-box-shadow: none !important;
        box-shadow: none !important;
    }
    label {
        cursor: pointer;
        font-weight: normal !important;
    }
    .exporting-label {
        cursor: default;
        color: #777;
        font-size: 14px;
    }
    .fa {
        font-size: 20px;
    }
    .glyphicon {
        font-size: 1.2em;
        margin-right: 8px;
    }
    .main-icon {
        margin-right: 20px;
        font-size: 1.4em;
        top: -2px;
    }
    hr {
        margin: 0 !important;
    }
    .dropdown-menu {
        -moz-min-width: 255px;
        -ms-min-width: 255px;
        -o-min-width: 255px;
        -webkit-min-width: 255px;
        min-width: 255px;
    }
    li a span {
        color: #000;
    }
    @media (max-width: 858px) {
        top: 31px !important;
    }
}

#list-chart .is-edit-mode .export-section {
    right: -8px;
}

#full-screen .export-section {
    right: -10px;
    top: -8px;
}

#full-screen .exporting-icon-box-comment-actived .export-section {
    right: 45px;
}

#list-chart .show-comment .export-section {
    top: 23px;
}

.show-comment .export-section .main-icon {
    top: -27px;
    right: -5px;
}

#full-screen {
    .export-section {
        @media (max-width: 992px) {
            top: -10px !important;
        }
        .main-icon {
            top: 19px;
            right: 20px;
        }
    }
    .export-list {
        top: 40px;
        right: 30px;
    }
    @media screen and (max-width: 990px) {
        .comment-area {
            top: -15px;
        }
    }
    @media screen and (max-width: 990px) {
        .graph-comment {
            top: -15px;
        }
    }
    .comment-area span.btn-general,
    .comment-area span.btn-primary {
        width: 65px;
    }
    .comment-area {
        position: static;
        margin-top: 10px;
        margin-left: 15px;
    }
    .comment-box {
        padding: 9px 0 10px 0;
    }
    .options-section {
        position: static;
    }
    .graph-options {
        margin-top: 12px;
    }
    .options {
        top: 40px;
        right: 30px;
    }
    .graph-nav {
        position: static;
        margin-top: 5px;
    }
    .graph-folder-nav {
        float: right;
        margin-right: 20px;
    }
    .options-section__btn-show-options.glyphicon {
        margin-right: 0;
    }
}

.btn-full-screen-left {
    padding: 15px 10px 7px 10px;
    cursor: pointer;
}

.btn-full-screen {
    @include border-radius(10px);
    font-size: 14px;
    padding: 8px 30px;
    border: 1px solid white;
}

.data-breakdown-primary-button {
    font-size: 12px;
}

#placeholder {
    margin-left: 0;
    h6 {
        padding-left: 1px;
        font-size: 14px;
    }
    div input,
    div textarea {
        margin: 0 0 15px !important;
        padding-left: 5px !important;
    }
    li.grid-chart .edit-topic-title i {
        right: 5px;
    }
}
 //nav and navbar
.navbar-nav {
    margin: 0 -15px !important;
    display: inline-block !important;
}

.profileimage {
    cursor: pointer;
    .pagination {
        margin-left: 40px;
    }
    img {
        border-radius: 50%;
    }
}

#fs-content .comment-area .btn-general,
#fs-content .comment-area .btn-primary {
    min-width: 70px;
}

.after-save-warning {
    margin: 0 0 0 5px;
    vertical-align: middle;
    .popover-content {
        padding: 5px;
        font-size: 12px;
    }
}

.after-save-warning a i {
    color: #000;
}

.comment-area {
    i,
    b {
        font-size: 12px;
    }
}

.popover {
    min-width: 165px;
    font-family: 'Muli', 'Nunito', sans-serif;
    color: initial;
    z-index: 9999;
    &.bottom-right {
        margin-left: 10px;
    }
    &.bottom-left {
        margin-left: -10px;
    }
    &-comment {
        width: 350px;
    }
    &-comment,
    &-campaign,
    &-warning {
        .popover-content {
            padding: 0;
        }
    }
    &-campaign {
        width: 300px;
        z-index: 1;
        height: auto;
        position: absolute;
        border: solid 1px #aeaeae;
        background-color: #fff;
        text-align: left;
        -moz-box-shadow: 0 5px 15px #999;
        -webkit-box-shadow: 0 5px 15px #999;
        -ms-box-shadow: 0 5px 15px #999;
        box-shadow: 0 5px 15px #999;
        padding: 0;
        padding-bottom: 5px !important;
        margin-bottom: 60px;
        z-index: 1150;
    }
    &-warning {
        margin-left: -2px;
        margin-top: 9px;
        text-align: left;
        padding: 0;
        width: 300px;
        position: absolute;
        border: 1px solid #AEAEAE;
        background-color: #FDEEB7;
        font-size: 11px;
        line-height: 14px;
        z-index: 1042;
        margin-bottom: 60px;
        .arrow:after {
            border-bottom-color: #F5DEB3 !important;
            border-top-color: #F5DEB3 !important;
        }
        header {
            padding: 8px 14px;
            @include border-radius(5px 5px 0 0);
            background-color: #F5DEB3;
            border-bottom: #F5DEB3;
        }
        .close {
            margin-top: -9px;
            margin-right: -8px;
            font-size: 2.5em;
            font-weight: normal;
        }
        .popover-content {
            padding: 0px !important;
        }
        .warning-content {
            padding: 10px;
        }
    }
    &-tour-guide {
        z-index: 1000 !important;
        width: 300px;
        .popover-content p {
            margin-left: 5px;
        }
        .btn {
            margin-bottom: 5px;
        }
    }
}
/*
Please change nav-report into report setting when you start refactoring it
*/

.nav-report {
    margin-top: 0px !important;
}

.spinner-hide .loading {
    visibility: visible;
}

.spinner-show .loading {
    visibility: hidden;
}

#tm-data-table {
    >.tab-content>.tab-pane {
        transition: opacity 0.15s linear;
        &.active {
            opacity: 1;
        }
        &.active-remove {
            display: block;
        }
        &.active-remove-active {
            opacity: 0;
        }
        &.active-add {
            opacity: 0;
        }
    }
}

.empty-topic-content {
    .gridchart-wrap {
        height: auto !important;
    }
}

.sub-topic-content {
    .gridchart-wrap {
        height: auto !important;
    }
}

.ps-container.disable {
    overflow: initial !important;
}
/*Graph Icon*/

.graph-icon {
    position: relative;
    background: #ededed;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: -5px;
    border: 1px solid #e7e7e7;
    .glyphicon {
        font-family: 'Glyphicons Regular';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        font-size: 50px;
    }
    &--small {
        width: 40px;
        height: 40px;
        margin-top: -5px;
        .glyphicon {
            font-size: 22px;
        }
    }
    &--medium {
        .glyphicon {
            font-size: 30px;
        }
    }
}

.ps-y-rail-hide .ps-scrollbar-y-rail {
    display: none !important;
}

.popover-close{
    float: right;
    position: absolute;
    right: 5px;
    font-size: 2.5em;
    top: -12px;
}
