@mixin create-right-navigation() {
    margin: 0 -15px !important;
    display: inline-block !important;
    cursor: pointer;
    &__item {
        display: inline-block;
        margin: 0 0 0 -1px;
        line-height: 20px;
        list-style-type: none;
        .nav-profile {
            background-color: rgba(255, 255, 255, 0.95);
            background-color: #f5f5f5 \9;
            color: #666;
            padding: 7px 13px 0 13px;
            height: 44px;
            border: none;
            display: block;
            font-size: 13px;
            text-transform: uppercase;
            line-height: 1.4285;
            &__image {
                position: relative;
                top: -2px;
                width: 35px;
                height: 35px;
                background: white;
            }
            &__user-name {
                color: black !important;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                background-color: #D7D7D7 \9;
                color: #333;
            }
            &__menu {
                right: 70px !important;
                color: #000;
            }
            &__menu-option {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.42857143;
                color: #333333;
                white-space: nowrap;
                &:hover {
                    text-decoration: none;
                    color: #262626;
                    background-color: #f5f5f5;
                }
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}