/* OVERRIDES FOR WHITELABELEING */


/* 
--------------------------
COLOR 1: LINK AND BUTTON COLORS
--------------------------
*/
a, .general-navbar i, .btn-default, .general-navbar .home-icon:hover {
  color: #8EC63F;
}
.general-navbar .home-icon, .sidebar .level-1 .back a, .sidebar .level-1 .back a span, .btn-primary, .btn-primary:link, .btn-primary:active, .btn-primary:visited, .sidebar .brand-logo .dropdown .fa-cog {
  background-color: #8EC63F;
}
.sidebar .level-1 .back a span {
  border-right-color: #8EC63F;
}



/* 
--------------------------
COLOR 2: hover color on links and buttons
--------------------------
*/
.btn-primary:hover {
  background-color: #5b8027;
  border-color: #416014;
}
.sidebar .level-1 .back a:hover {
  background-color: #5b8027;
}
.sidebar .level-1 .back a:hover span {
  border-right: 11px solid #5b8027;
}



/* 
--------------------------
COLOR 3: BACKGROUND SIDEBAR AND NAVBAR
--------------------------
*/
.general-navbar {
  background-color: #01b7df;
}
.sidebar {
  background-color: #01b7df;
  border-right-color: #01b7df;
}
.sidebar .level-1 .back a span {
  border-top-color: #01b7df;
  border-bottom-color: #01b7df;
}



/* 
--------------------------
COLOR 4: level 3 in sidebar
--------------------------
*/
.sidebar .level-2 li li a {
  color: #fff;
  border-bottom: 1px solid #09748c;
}



/* 
--------------------------
LOGO: width must be 199px
--------------------------
*/
.sidebar .brand-logo {
  background-color: #fff;
}
.sidebar .brand-logo .the-logo {
  height: 61px;
  background-color: transparent;
  background-image: url(../images/logo-groupm.png);
}