.chart {
    &__master-chart {
        position: relative;
        height: 130px;
        width: 100%;
    }
    .main-chart {
        max-height: 450px;
        margin-top: 10px;
    }
    &__warning-message {
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
}

.empty-chart {
    &__image {
        position: absolute;
        z-index: 1;
        width: 95%;
        height: 100%;
        background-color: white;
        background: url('../images/newchart.PNG') no-repeat;
        #micro-chart & {
            height: 100%;
            top: 0;
        }
    }
    &__description {
        position: absolute;
        z-index: 2;
        left: 100px;
        bottom: 0;
    }
}

.tags-chart {
    &__main {
        width: 4%;
        margin-top: 3px;
    }
    &__info {
        margin-left: 10px;
        h4 {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
    &__campaign {
        border-left: 1px solid #e7e7e7;
        cursor: text;
        width: 96%;
    }
    &__fs-tag {
        border: 1px solid #CCCCCC;
        -ms-border-radius: 2px;
        border-radius: 2px;
        float: left;
        margin-right: 5px;
        padding: 3px 5px;
        font-size: 11px;
    }
}

.main-chart {
    .series-filter-section {
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 3200px) {
            width: 100px;
        }
        @media (max-width: 1920px) {
            width: 80px;
        }
        @media (max-width: 1600px) {
            width: 60px;
        }
        @media (max-width: 992px) {
            width: 40px;
        }
    }
}