.topic-highlight{
    padding-left: 15px;
    &__title{
        font-weight: bold;
    }
    &__des{
        margin-bottom: 15px;
    }
}
.graph-list-high-light{
    width: 500px;
    padding: 9px;
    background: #f6f6f6;
    margin-bottom: 20px;
    &__item{
        padding: 6px 15px;
        background: #fff;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-color: #ccc;
        position: relative;
        display:block;
        margin-bottom: -1px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        &:first-child{
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &--selected{
            background: #eee;
        }
    }
}